@import "tailwindcss";

@layer base {
  @font-face {
    font-family: 'Railway';
    src: url('./assets/fonts/Railway.woff2') format('woff2'),
         url('./assets/fonts/Railway.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Railway';
    src: url('./assets/fonts/Railway-Semibold.woff2') format('woff2'),
         url('./assets/fonts/Railway-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'RailwayAlternate';
    src: url('./assets/fonts/RailwayAlternate.woff2') format('woff2'),
         url('./assets/fonts/RailwayAlternate.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

@theme {
  /* Rebrand Colors */
  --color-piccadilly-blue: #4056A4;
  --color-central-red: #E32017;
  --color-district-green: #00782A;
  --color-northern-not-black: #2D2C27;
  --color-beck-beige: #F9E6C6;
  --color-not-white: #FAF3E8;

  /* Legacy Colors */ 
  --color-primary: var(--color-piccadilly-blue);
  --color-primary-light:  var(--color-piccadilly-blue);
  --color-secondary: var(--color-district-green);
  --color-secondary-light: var(--color-district-green);
  --color-background: var(--color-beck-beige);
  --color-background-light: var(--color-beck-beige);

  --color-text-primary: var(--color-northern-not-black);
  --color-text-secondary: var(--color-northern-not-black);
  --color-text-contrast: var(--color-northern-not-black);
  --color-text-muted: var(--color-northern-not-black);

  --color-heading-primary: var(--color-piccadilly-blue);
  --color-heading-secondary: var(--color-piccadilly-blue);


  /* Fonts */
  --font-railway: "Railway", ui-sans-serif, system-ui, sans-serif;
  --font-railway-alt: "RailwayAlternate", ui-sans-serif, system-ui, sans-serif;
}

:root {
  /* Apply your custom font variable here */
  font-family: var(--font-railway);
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: var(--font-railway-semibold); /* Maybe use alternate for headings? */
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-heading-primary);
}

h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 600;
  color: var(--color-piccadilly-blue);
}

h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  color: var(--color-district-green);
}

h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  color: var(--color-piccadilly-blue);
}


.rc-slider-handle:focus,
.rc-slider-handle-click-focused {
  background-color:  var(--color-piccadilly-blue);
  border: 2px solid  var(--color-piccadilly-blue);
}
